<?xml version="1.0" encoding="utf-8"?>
<configuration scan="false">
	<property name="format" value="%d{yyyy-MM-dd HH:mm:ss} [%5level][%thread] %logger{35}:%line - %m%n" />

	<!-- 标准输出日志Appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${format}</pattern>
		</encoder>
	</appender>

	<!-- 根日志 -->
	<root level="DEBUG" >
		<appender-ref ref="console" />
	</root>
</configuration>